services:
  app:
    build: .
    ports:
      - "8080:1323"
    environment:
      DATABASE_URL: "mysql://mysqldev:mysqldev@tcp(db:3306)/database?parseTime=true"
    depends_on:
      db:
        condition: service_healthy
  db:
    platform: linux/x86_64
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: mysqldevroot
      MYSQL_DATABASE: otp-service-dev
      MYSQL_USER: mysqldev
      MYSQL_PASSWORD: mysqldev
    ports:
      - 3306:3306
    expose:
      - 3306
    volumes:
      - db:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -uroot -prootpassword"]
      interval: 10s
      timeout: 5s
      retries: 3
volumes:
  db:
    driver: local
