services:
  db:
    platform: linux/x86_64
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: mysqldevroot
      MYSQL_DATABASE: otp-service-dev
      MYSQL_USER: mysqldev
      MYSQL_PASSWORD: mysqldev
    ports:
      - 3306:3306
    expose:
      - 3306
    volumes:
      - db:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -uroot -prootpassword"]
      interval: 10s
      timeout: 5s
      retries: 3
volumes:
  db:
    driver: local
